.container {
    display: flex;
    flex-direction: row;
    background-color: #cccccc5d;
    padding: 20px;
    align-items: center;
    justify-content: center;

}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    margin-bottom: 20px;
}