.container-sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 20px;
}


.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.check {
    display: flex;
    align-items: center;
    justify-content: start;
}

#checkbox1,
#checkbox2,
#checkbox3 {
    display: block;
}

label {
    font-size: 11px;
    font-weight: bold;
    color: #333;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list li {
    margin-bottom: 10px;
    font-size: 14px;
}

.upload-button {
    width: 180px;
}

.save-button {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.footer__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.footer__name-input {
    width: 90px;
    margin: 2px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

}