.dataTable {
    background-color: aliceblue;
    max-width: 100vw;
    height: 70vh;
    margin-left: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.container-DataTable {
    overflow: scroll;
    height: 70vh;
    border-radius: 5px;
    max-width: 1050px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

th {
    /* position: sticky;
    top: 0; */
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(61, 105, 151);
    cursor: pointer;
    /* padding: 0px 0px 0px 0px; */
    color: rgb(250, 248, 248);
}

.tableCell {
    /* padding: 10px 10px 0px 0px; */
    text-align: center;
}

.row:hover {
    background-color: rgba(86, 86, 173, 0.413);
}

.arrow {
    margin-left: 10px;
    padding: 20px;
    cursor: pointer;
}

.asc {
    background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.pngfind.com%2Fpngs%2Fpng-sort-up-arrow-icon-1381238.png&imgrefurl=https%3A%2F%2Fwww.pngfind.com%2Fsearch%2Fsort-up-arrow-icon%2F&tbnid=kR1K-i5qIeU-GM&vet=12ahUKEwiH8ueExc6IAxV8zTgGHUIJDZMQM3oFCIgBEAA..i&w=512&h=512&q=up%20arrow%20icon&hl=en&safe=off&sa=X&ved=2ahUKEwiH8ueExc6IAxV8zTgGHUIJDZMQM3oFCIgBEAA&cref=https://www.pngfind.com/pngs/detail/28-282677_up-arrow-icon-png.html');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}